:root {
  --primary-blue: #005BEA;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f4f6fb;
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 30%;
  background-color: #eaf1ff;
  padding: 1rem;
  border-right: 2px solid #ccc;
}

.skill-details {
  width: 70%;
  padding: 1rem;
}